*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #d3ebf9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ff671f;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 28%;
}

.mradul{
    position: absolute;
    /* border: 2px solid black; */
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}
.mradul span{
    font-size: 12vw;
    font-weight: 800;
    transition: all ease 0.5s;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}
.mradul span:not(:first-child){
    margin-left: -0.23em;
}
.mradul span:not(:first-child):hover{
    margin-left: 0.1em;
}
/* ========== Animation for Name =========== */

.garg{
    position: absolute;
    /* border: 2px solid black; */
    top: 50%;
    left: 70%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.garg span{
    font-size: 12vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
    transition: all ease 0.5s;
}
.garg span:not(:first-child){
    margin-left: -0.23em;
}
.garg span:not(:first-child):hover{
    margin-left: 0.1em;
}

.button{
    position: absolute;
    /* border: 2px solid black; */
    border: none;
    width: 100%;
    top: 75%;
    z-index: 4;
    text-align: center;   
    font-size: 2.5vw;
    font-weight: bolder;
    background: transparent;
    padding: 20px;
    transition: all ease 1.5s;
}

.button a{
    text-decoration: none;
}

.button:hover{
    font-size: xxx-large;
    border-radius: 20px;
}
.button:hover::after {
    opacity: 1;
    margin-left: 20px;
}

.button i {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.5s, margin-left 0.5s;
}

/* Show the arrow when the cursor is over the button */
.button:hover i {
    opacity: 1;
    margin-left: 20px;
    color: aliceblue;
}



/* Media Queries
@media (max-width:991px) {
    html{
        font-size: 100%;
    }

    body{
        padding-left: 0;
    }
}


@media (max-width:450px) {
    html{
        font-size: 100%;
    }

    .header{
        width: 100%;
        border-right: 0;
    }
} */

/* Media Queries */
@media (max-width:1024px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:991px) {
    html{
        font-size: 50%;
    }
}

@media (max-width:780px) {
    html{
        font-size: 45%;
    }
}

@media (max-width:620px) {
    html{
        font-size: 45%;
    }
}

@media (max-width:560px) {
    html{
        font-size: 40%;
    }

    .button{
        font-size: 200%;
        top: 60%;
        text-align: center;
    }
}

@media (max-width:450px) {
    html{
        font-size: 35%;
    }

    .button{
        font-size: 300%;
        top: 60%;
        text-align: center;
    }
}